<h2>Posts</h2>

<% if posts.any? %>
  <div id="posts">
    <% posts.each do |post| %>
      <div class="post">
        <h3>
          <%= post.title %>
        </h3>
        <p>
          <%= post.body %>
        </p>
      </div>
    <% end %>
  </div>
<% else %>
  <p>
    No posts
  </p>
<% end %>
