<h3> New post</h3>
<%=
  form_for :post, '/posts' do
    div class: 'input' do
      label      :title
      text_field :title
    end

    div class: 'input' do
      label      :body
      text_field :body
    end

    div class: 'controls' do
      submit 'Create'
    end
  end
%>
